
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

html, body{
  scroll-behavior: smooth; 
  margin: 0;
  letter-spacing: 5px;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  overflow-x: hidden;
}

.pageBody{
  background-color: #000;
  color: white;
}

#sec1{
  width: 100%;
  height: 100%;
}


#h1Container {
  width: 100%;
  text-align: center;
  position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

#h1Container h1 {
font-size: 3.5rem;

 text-shadow: 0px 3px 0px #b2a98f,
               0px 14px 10px rgba(0,0,0,0.15),
               0px 24px 2px rgba(0,0,0,0.1),
               0px 34px 30px rgba(0,0,0,0.1);
 font-family: 'Julius Sans One', sans-serif;
 text-align: left;
 margin: 0 auto;
 width: 15.5rem;
}

.navbar {
  width: 100%;
}


#sec2{
  width: 100%;
  height: 100%;
  text-align: center;
}



#sec2 h3{
  font-size: 1rem;
  color: #585e66;
  margin-top: 4rem;
  margin-bottom: 1.5rem;
}

#videoBody{
  background: #000;
}

#musicBody{
  background: #000;
}


#sec3{
  width: 100%;
  height: 100%;
  color: white;
  background: #000;
  
}

#sec4{
  background: #000;
  color: black;
  width: 100%;
  height: 100%;
  padding: 25px;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}


.sectionH2 {
  color: white;
  width: 200px;
  margin: 0 auto;
  font-weight: lighter;
  text-align: center;
  z-index: 2;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

#sec3 h2{
  color: white;
}

#vidColumns {
  display: grid;
  grid-template-columns: 80% 20%;
  grid-column-gap: 1em;
  position: relative;
}

#videoSectionContainer{
  padding-top: 0.25rem;
  margin-top: 1rem;
}

#featuredVideoContainer {
  margin: 10px auto;
  width: 100%;
  background: #000;
}

#featuredVideo{
  width: 100%;
}




#videoScollBarContainer{
  background: #000;
   height: 150px;
    width: 75%;
    position: relative;
    margin: 0 auto;
}


#videoScollBar{
width: 100%;
position: absolute;
overflow:scroll;
overflow-y: hidden;
white-space:nowrap; 

}

#videoTitleOutput{
  color: white;
  width: 75%;
  margin: 0 auto;
}


#videoTitleOutput h4{
  margin-bottom: -1rem;
  font-size: 1rem;
}

#videoTitleOutput p{
  margin-bottom: -1rem;
  font-size: .75rem;
}

.vidItem{
  height: 100%;
  display: inline-block;
}

.vidItem img{
  width: 8rem;
  border-radius: 3%;
  
}


#memberPrompt{
  color: white;
  font-size: .65rem;
  letter-spacing: 2px;
  text-align: center;
  margin-top: -10px;
  margin-bottom: 10px;
  font-family: 'Julius Sans One', sans-serif;
}


#memberColumns {
  display: grid;
  grid-template-columns: repeat(1fr);
  grid-column-gap: 1em;
  grid-row-gap: .5rem;
  justify-items: center;

}

#memberContainer {
   margin-top: 2rem;
}

.memberItem {
  width: 15rem;
  margin-bottom: 2rem;
}

.memberItem p{
  color: white;
}

.memberImg {
  width: 100%;
  border-radius: 3%;
}

#memberBody{
background: #000;
}

.memberItem p.roles{
  font-size: .75rem;
  margin-top: -15px;
  color: #585e66;
}

figure {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}




/* Zoom In #1 */
.memberItemImg figure img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.memberItemImg figure:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}





.trackBtn{
  width: 10px;
  margin-top: 5px;
  margin-right: 9px;
}


.playerBarBtn{
  width: 21px;
  margin-top: -7px;
}

.next-previous{
  width: 15px;
}


.album{
  margin-top: 4rem;
}

.album-view-song-list {
     width: 90%;
     margin: 1.5rem auto;
     font-weight: 300;
     font-size: 0.75em;
     border-collapse: collapse;
 }

 .album-view-song-item {
     height: 3rem;
     border-bottom: 1px solid rgba(255,255,255,0.5);
     font-size: .90rem;
 }

 .song-item-number {
     width: 5%;
 }

 .song-item-title {
     width: 85%;
 }

 .song-item-duration {
     width: 5%;
 }

 .album-song-button {
     text-align: center;
     font-size: 14px;
     background-color: black;
     color: white;
     border-radius: 50% 50%;
     display: inline-block;
     width: 28px;
     height: 28px;
 }

 
 .album-song-button span {
     line-height: 28px;
 }


.player-bar {
     position: fixed;
     bottom: 0;
     left: 0;
     right: 0;
     height: 200px;
     background-color:rgba(255,255,255,.3);
     z-index: 100;
     margin-top: 2rem;
 }

 .player-bar a {
     font-size: 1.1rem;
     vertical-align: middle;
 }

 .player-bar a {
     color: white;
     cursor: pointer;
     text-decoration: none;
 }

 .player-bar .container {
     display: table;
     padding: 0;
     width: 90%;
     min-height: 100%;
 }

 .player-bar .control-group {
     display: table-cell;
     vertical-align: middle;
 }

 .player-bar .main-controls {
     width: 25%;
     text-align: left;
     padding-right: 1rem;
 }

 .player-bar .main-controls .previous {
     margin-right: 16.5%;
 }

 .player-bar .main-controls .play-pause {
     margin-right: 15%;
     font-size: 1.6rem;
 }


 .player-bar .currently-playing {
     width: 50%;
     text-align: center;
     position: relative;
 }


 .player-bar .currently-playing .song-name,
 .player-bar .currently-playing .artist-name,
 .player-bar .currently-playing .artist-song-mobile {
     text-align: center;
     font-size: 0.75rem;
     margin: 0;
     position: absolute;
     width: 100%;
     font-weight: 300;
 }

 .player-bar .currently-playing .song-name,
 .player-bar .currently-playing .artist-song-mobile {
     top: 1.1rem;
 }

 .player-bar .currently-playing .artist-name {
     bottom: 1.1rem;
 }

 .player-bar .currently-playing .artist-song-mobile {
     display: none;
 }

.seek-control {
    position: relative;
    font-size: 0.8rem;
}

.seek-control .current-time {
    position: absolute;
    top: 0.5rem;
}

.seek-control .total-time {
    position: absolute;
    right: 0;
    top: 0.5rem;
}

.seek-bar {
    height: 0.25rem;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid white;
    border-radius: 2px;
    position: relative;
    cursor: pointer;
}

.seek-bar .fill {
    background-color: white;
    width: 0px;
    height: 0.25rem;
    border-radius: 2px;
}

.seek-bar .thumb {
    position: absolute;
    height: 0.5rem;
    width: 0.5rem;
    background-color: white;
    top: 50%;
    margin-left: -0.25rem;
    margin-top: -0.25rem;
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition: all 100ms ease-in-out;
       -moz-transition: all 100ms ease-in-out;
       transition: width 100ms ease-in-out,
            height 100ms ease-in-out,
            margin-top 100ms ease-in-out,
            margin-left 100ms ease-in-out;
}

.seek-bar:hover .thumb {
    width: 1.1rem;
    height: 1.1rem;
    margin-top: -0.5rem;
    margin-left: -0.5rem;
}


 .player-bar .volume {
     width: 25%;
     text-align: right;
 }


.player-bar .volume .icon {
    font-size: 1.1rem;
    display: inline-block;
    vertical-align: middle;
}

.player-bar .volume .seek-bar {
    display: inline-block;
    width: 5.75rem;
    vertical-align: middle;
}


.player-bar .volume .icon {
    font-size: 1.1rem;
    display: inline-block;
    vertical-align: middle;
}

.player-bar .volume .seek-bar {
    display: inline-block;
    width: 5.75rem;
    vertical-align: middle;
}

.player-bar .volume .seek-bar {
    display: inline-block;
    width: 5.75rem;
    vertical-align: middle;
}

#sec5{
  width: 100%;
}

#aboutContainer{
  width: 75%;
  margin: 3rem auto;
}

.modal-body {
  letter-spacing: 1px;

}






@media(min-width: 540px){

  #h1Container h1{
    width: 100%;
    text-align: center;
  }
  #memberColumns{
  grid-template-columns: repeat(2,1fr);
}

.memberItem{
  margin-bottom: 1rem;
}

}

@media(min-width: 600px){

  #h1Container h1{
    font-size: 5rem;
  }

  #featuredVideoContainer{
    width: 75%;
  }

  .vidItem img{
    width: 12rem;
  }


}

@media(min-width: 800px){
  #memberColumns{
  grid-template-columns: repeat(3,1fr);
  grid-column-gap: .5em;
 }

 .trackBtn{
  margin-right: 0px;
}

}


@media(min-width: 1080px){
  #memberColumns{
  grid-template-columns: repeat(4,1fr);
 }
}


 
@media (max-width: 600px) {

    .player-bar {
        padding: 1rem;
        background-color:rgba(255,255,255,.3);
    }

    .player-bar .main-controls,
    .player-bar .currently-playing,
    .player-bar .volume {
        display: block;
        margin: 0 auto;
        padding: 0;
        width: 100%;
        text-align: center;
    }

    .player-bar .main-controls,
    .player-bar .volume {
        min-height: 3.5rem;
    }

    .player-bar .currently-playing {
        min-height: 2.5rem;
    }

    .player-bar .artist-name,
    .player-bar .song-name {
        display: none;
    }

    .player-bar .currently-playing .artist-song-mobile {
        display: block;
        margin-top: 1.5rem;
    }

    .control-group.volume{
      margin-top: 1.5rem;
    }
}



 @media (max-width: 600px) and (min-width: 320px) {

     .album-view-details {
         text-align: center;
     }

     .album-view-title {
         margin-top: 0;
     }

 }

 @media (max-width: 1024px) and (min-width: 320px) {
    .album-view-song-list {
         position: relative;
         top: 1rem;
         width: 80%;
         margin: auto;
     }
}
